.card-product-container{
    display: flex;
    flex:1 ;
    justify-content: center;
    align-items: center;
    background: #e5e3e3;
    }
    
    
    .first-box,
    .second-box,
    .third-box,
    .fourth-box{
        background-color:#fff;
        display: flex;
        flex-wrap: wrap;
        width: 350px;
        height: 400px;
        align-items: start;
        justify-content: center;
        margin: 0px 15px 5px 12px;
        padding: 0px 12px 5px 12px ;
    }
    
    .block1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    
    .img1{
        position: relative;
    }
    
    .img1 img{
        max-width: 100%;
        display: block;
    }
    .card-btn{
        font-size: 14px;
        padding-left:0;
        padding-bottom: 5px;
        margin: 7px 10px;
        border: none;
        color: red;
        
    }