footer{
  position: relative;
  top: 60px;
  background-color:#232F3E;
}
.footer-container{
  background: #232F3E;
  color: white;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  padding: 50px;
  font-size:14px ;
}
.backToTop{
  background: #2b3648;
  height: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backToTop:hover{
  cursor: pointer;
  text-decoration: underline;
}

.footer-container p{
  margin: 5px 0 5px 0;
}
.footer-container p:hover{
  cursor: pointer;
  text-decoration: underline;
}
.second-footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px;
  background: #131A22;
  color: #fff;
  font-size: 12px;
  padding: 20px 0;
}
.second-footer .block{
  display: flex;
  display: grid;
  grid-area:1 1 2 4;
  margin: 0 20px 0 20px;

}
.second-footer .block p{
  margin: 0;
  align-items: center;
}

.second-footer .block:hover{
  cursor: pointer;
  text-decoration: underline;
}
.lastdetails{
  background-color: #131A22;
  height:10vh;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
}
footer img{
  display: block;
   width: 80px;
   margin: 0 45% 0 45%;
   text-align: center;
   justify-content: center;
  padding-top: 10px; 
}

@media (max-width:700px){
  .footer_container .forres{
      display: none;
  }
 
}
@media (max-width:500px){
  .footer_container .forres{
      display: none;
  }
}