.new_nav{
    background-color:#3a424c;
    width: 100%;
    height: 2.8rem;
    position: relative;
    top: 60px;
  }
  
  .new_nav {
    display: flex;
    flex: 1;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    margin: 0;
  }
  
  .new_nav p{
    padding: 8px 11px 8px 11px;
    cursor: pointer;
    /* margin: 10px 13px 5px 13px; */
  }
  .new_nav p:hover{
  border: 2px solid #fff;
  }
  
  .new_nav .left{
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  
  @media (max-width:808px){
    .new_nav{
       display: none;
    }
  }